extends ../layout

block content
    h1=title
    form(action="/workout/create", method="post")
        p Title:
        input(type='text' name='title' placeholder='My workout program name')
        br
        input(type='submit' value="Create")
